@model int

<div class="row w-100 p-0 m-0">
    <div class="col bg-light rounded p-2 border-dark  w-100 p-1 m-0">
        <form asp-action="SendInvite" asp-controller="Groups">
            <input type="hidden" id="id" name="id" value="@(Model)"/>
            <div class="form-group p-1">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="email"/>
            </div>
            <div class="form-group p-1">
                <button type="submit" class="btn btn-success w-100">
                    Send invite!
                </button>
            </div>
        </form>
    </div>
</div>