@model AddParticipantViewModel

<div class="row bg-light">
    <h5>Add user to project:</h5>
    <hr/>
    <form asp-action="AddParticipantToProject">
        <input type="hidden" name="TargetId" value="@(Model.TargetId)" id="TargetId"/>
        <div class="form-control">
            @Html.DropDownList("Id", (MultiSelectList) ViewBag.SelectOpts, new
            {
                multiple = "multiple", @class = "w-100 m-1 form-select"
            })
        </div>
        <div class="form-control">
            <button class="btn btn-success" type="submit">
                Add to project!
            </button>
        </div>

    </form>
</div>